header{
    background-color: #7E6C6C;
}

header a{
     color: blanchedalmond;
}

.presentacion{
    background-color: #FFA9A3;
}

a{
    text-decoration: none;
    color: #F87575;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  