/* Estilos personalizados */
body {
  padding-top: 0px;
}

.titulo {
  font-size: 35px;
}

.jumbotron {
  background-image: url('img/jumbotron-bg.jpg');
  background-size: cover;
  color: white;
  padding: 100px 0;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Estilos para el carrito */
.shopping-cart-items .card {
  margin-bottom: 20px;
}

.shopping-cart-total {
  font-size: 24px;
  font-weight: bold;
}

#checkout-btn {
  margin-top: 20px;
}
