body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

div {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

input {
    margin-right: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.boton {
    margin-left: 50px;
}

.resultado {
    margin-left: -30px;
}